<a href="https://colab.research.google.com/github/yashrakeshmishra/Coursera_Capstone/blob/master/capstoneProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capstone Project IBM Data Science Course

This Notebook is for the final Capstone Project in the IBM Data Science Professional Certificate course. It will involve a series of operations as required by the project.

# Predicting the severity of accident based on different conditions.

The model is trained using a classification algorithm. A data set consisting of road accidents in the city of Seattle from 2014 to present is used to train the model and evaluate it's metrics. Since the dataset only contains about two types of severities; namely slight and severe. A classic binary classfication algorithm is used to construct a model.

## Importing the important libraries for handling data.

In [43]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Downloading the data from the internet and storing it as a Pandas dataframe.

In [2]:
df = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')

## Refining the data

Important colums which will we required to evaluate the severity are kept and other non essential elements are dropped.

In [3]:
data = df[['SEVERITYCODE','PERSONCOUNT','VEHCOUNT','WEATHER','ROADCOND','LIGHTCOND','INATTENTIONIND','UNDERINFL']]
attributes = data.columns.to_list()

The data obtained has many null values. We could have eliminated the null values but that would result in loss of dataset. Therefore, we replace the NaN values with the value with highest frequency in th column, since that value has the highest probability.

In [4]:
for column in attributes:
    data[column].fillna(data[column].mode()[0], inplace=True)

The columns <code> INATTENTIONIND </code> and <code> UNDERINFL </code>contained mixed values such as 'Y','N',1,0. Therefore we convert the data into numerical form.

In [5]:
data['INATTENTIONIND'].replace('Y',1,inplace=True)
data['INATTENTIONIND'].replace('N',0,inplace=True)
data.INATTENTIONIND.astype('int64')
data['UNDERINFL'].replace('Y',1,inplace=True)
data['UNDERINFL'].replace('N',0,inplace=True)
data.UNDERINFL.astype('int64');

Using the **One-Hot-Encoding** for the weather followed by dropping the weather column to obtain additonal columns with different types of weathers. The column value for a particular weather is 1 or 0 depending if the weather condition was true at the time of that particular accident.

In [6]:
weathers=pd.get_dummies(data.WEATHER)
data = pd.concat([data,weathers],axis=1)

In [7]:
data.drop(columns='WEATHER', inplace=True)

In [8]:
data.rename(columns={'Fog/Smog/Smoke': 'Smoke','Sleet/Hail/Freezing Rain':'Hail', 'Unknown': 'Unpredictable Weather', 'Blowing Sand/Dirt': 'Sandy'}, inplace=True)

In [9]:
data.head()

   SEVERITYCODE  PERSONCOUNT  VEHCOUNT  ... Hail Snowing  Unpredictable Weather
0             2            2         2  ...    0       0                      0
1             1            2         2  ...    0       0                      0
2             1            4         3  ...    0       0                      0
3             1            3         3  ...    0       0                      0
4             2            2         2  ...    0       0                      0

[5 rows x 18 columns]

Performing the **One-Hot-Encoding** for <code>ROADCOND</code> and <code> LIGHTCOND</code> as well.

In [10]:
lighting = pd.get_dummies(data.LIGHTCOND)
data = pd.concat([data,lighting],axis=1)

In [11]:
data.drop('LIGHTCOND',axis=1,inplace=True)
data.rename(columns={'Unknown': 'Unknown Lighting'}, inplace=True)

In [12]:
roads = pd.get_dummies(data.ROADCOND, prefix='roadcond_')
data = pd.concat([data,roads],axis=1)

In [13]:
data.drop('ROADCOND',axis=1,inplace=True)
data.head()

   SEVERITYCODE  PERSONCOUNT  ...  roadcond__Unknown  roadcond__Wet
0             2            2  ...                  0              1
1             1            2  ...                  0              1
2             1            4  ...                  0              0
3             1            3  ...                  0              0
4             2            2  ...                  0              1

[5 rows x 34 columns]

The data has been cleaned and is now ready to be processed. We know form our X and y sets for processing the data.
The 'y' set consists of the severity codes while the 'X' column consists of the features.

In [14]:
data.shape

(194673, 34)

In [15]:
y = np.asarray(data['SEVERITYCODE'])
y[0:5]

array([2, 1, 1, 1, 2])

In [16]:
X = data.drop('SEVERITYCODE', axis=1)
X = np.asarray(X[X.columns.to_list()])
X = X.astype(int)

Normalizing the dataset:

In [17]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[-0.33020207,  0.12553783,  0.        , -0.2217116 , -0.01696304,
        -1.21707436, -0.05414257, -0.06551471, -0.03476509,  2.45445634,
        -0.00506801, -0.45298634, -0.011333  , -0.02409974, -0.06841713,
        -0.28988624, -0.08920831, -0.07872239, -0.576075  , -0.00751719,
        -0.1141037 ,  0.77768637, -0.17682024, -0.06551471, -0.03476509,
        -0.27267986, -1.4099744 , -0.07905204, -0.01813462, -0.02604842,
        -0.01963186, -0.07200071, -0.02431221, -0.28975087,  1.76085874],
       [-0.33020207,  0.12553783,  0.        , -0.2217116 , -0.01696304,
        -1.21707436, -0.05414257, -0.06551471, -0.03476509, -0.4074222 ,
        -0.00506801,  2.2075721 , -0.011333  , -0.02409974, -0.06841713,
        -0.28988624, -0.08920831, -0.07872239,  1.73588509, -0.00751719,
        -0.1141037 , -1.2858654 , -0.17682024, -0.06551471, -0.03476509,
        -0.27267986, -1.4099744 , -0.07905204, -0.01813462, -0.02604842,
        -0.01963186, -0.07200071, -0.02431221, -0.28975087,  1.76085874],
       [ 1.15576451,  1.7102107 ,  0.        , -0.2217116 , -0.01696304,
        -1.21707436, -0.05414257, -0.06551471, -0.03476509,  2.45445634,
        -0.00506801, -0.45298634, -0.011333  , -0.02409974, -0.06841713,
        -0.28988624, -0.08920831, -0.07872239, -0.576075  , -0.00751719,
        -0.1141037 ,  0.77768637, -0.17682024, -0.06551471, -0.03476509,
        -0.27267986,  0.70923273, -0.07905204, -0.01813462, -0.02604842,
        -0.01963186, -0.07200071, -0.02431221, -0.28975087, -0.56790473],
       [ 0.41278122,  1.7102107 ,  0.        , -0.2217116 , -0.01696304,
         0.82164248, -0.05414257, -0.06551471, -0.03476509, -0.4074222 ,
        -0.00506801, -0.45298634, -0.011333  , -0.02409974, -0.06841713,
        -0.28988624, -0.08920831, -0.07872239, -0.576075  , -0.00751719,
        -0.1141037 ,  0.77768637, -0.17682024, -0.06551471, -0.03476509,
        -0.27267986,  0.70923273, -0.07905204, -0.01813462, -0.02604842,
        -0.01963186, -0.07200071, -0.02431221, -0.28975087, -0.56790473],
       [-0.33020207,  0.12553783,  0.        , -0.2217116 , -0.01696304,
        -1.21707436, -0.05414257, -0.06551471, -0.03476509, -0.4074222 ,
        -0.00506801,  2.2075721 , -0.011333  , -0.02409974, -0.06841713,
        -0.28988624, -0.08920831, -0.07872239, -0.576075  , -0.00751719,
        -0.1141037 ,  0.77768637, -0.17682024, -0.06551471, -0.03476509,
        -0.27267986, -1.4099744 , -0.07905204, -0.01813462, -0.02604842,
        -0.01963186, -0.07200071, -0.02431221, -0.28975087,  1.76085874]])

## Train/Test dataset

Now we create a Train/Test split to emulate out-of-sample testing to ensure the performance of our model.

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (155738, 35) (155738,)
Test set: (38935, 35) (38935,)

## Logistic Regression

Logistic regression would be performed to for the binary classification of the data. The best parameters for the Logistic regression would be evaluated using GridSearchCV and cross-validation would be performed.

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report,jaccard_similarity_score,log_loss,f1_score

Here, GridSearchCV performs cross validation on different parameters to find the optimal parameters for the model. These paramters are then used to train the model. Furthermore, testing the model on out-of-sample test data is done and the accuracy scores are measured.

In [20]:
params_lr = { 'C':[0.001,0.01,0.1,0.5],
             'solver': ['newton-cg','lbfgs','liblinear']
             }
lr = LogisticRegression()
gridsearch_lr = GridSearchCV(lr, params_lr,cv=5,iid=True)
gridsearch_lr.fit(X_train,y_train)

lr_best_params = gridsearch_lr.best_params_
print("Best accuracy obtained",gridsearch_lr.best_score_)
print("Best parameters obtained",gridsearch_lr.best_params_)

lr_best_params

Best accuracy obtained 0.6997521478380356
Best parameters obtained {'C': 0.001, 'solver': 'liblinear'}

{'C': 0.001, 'solver': 'liblinear'}

In [32]:
lr = LogisticRegression(C=lr_best_params['C'], solver=lr_best_params['solver'])
lr.fit(X_train,y_train)
lr_predictions = lr.predict(X_test)
lr_predictions_training = lr.predict_proba(X_train)
acc = (accuracy_score(y_test, lr_predictions))*100

In [33]:
print('Jaccard Similarity Score : ',round(jaccard_similarity_score(y_test,lr_predictions)*100,2),'%')
print('\n')
print('F1-SCORE : ',f1_score(y_test,lr_predictions,average='weighted',labels=np.unique(lr_predictions)))
print('\n')
print('Log-loss : ',log_loss(y_train,lr_predictions_training))
print('\n')
print('Test Accuracy: ',(accuracy_score(y_test, lr_predictions))*100,'%')

Jaccard Similarity Score :  70.58 %


F1-SCORE :  0.6084172730738718


Log-loss :  0.5774056689227738


Test Accuracy:  70.5791704122255 %

In [38]:
table = pd.DataFrame({
    'Jaccard Similarity Score': [round(jaccard_similarity_score(y_test,lr_predictions)*100,2)],
    'F1 Score': [f1_score(y_test,lr_predictions,average='weighted',labels=np.unique(lr_predictions))],
    'Log loss': [log_loss(y_train,lr_predictions_training)],
    'Test Accuracy': [acc]})

In [42]:
table.reset_index(drop=True,inplace=True)
table

   Jaccard Similarity Score  F1 Score  Log loss  Test Accuracy
0                     70.58  0.608417  0.577406       70.57917

## Conclusion

>  A linear regression model was successfully created to predict the severity of the road accidents by evaluating various factors that occured in the training set data. The best parameters were found for the model and the model accuracy was measured. The model accuracy was found to be 70.5%.
 
 >Further additions to the project will involve improving the efficiency of the model by providing a more diverse dataset which would contain multiple degrees of collisions instead of just two collisions and using more algorithms with better parameters.