<a href="https://colab.research.google.com/github/yashrakeshmishra/Coursera_Capstone/blob/master/capstoneProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capstone Project IBM Data Science Course

This Notebook is for the final Capstone Project in the IBM Data Science Professional Certificate course. It will involve a series of operations as required by the project.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   SEVERITYCODE           X          Y  ...  SEGLANEKEY  CROSSWALKKEY  HITPARKEDCAR
0             2 -122.323148  47.703140  ...           0             0             N
1             1 -122.347294  47.647172  ...           0             0             N
2             1 -122.334540  47.607871  ...           0             0             N
3             1 -122.334803  47.604803  ...           0             0             N
4             2 -122.306426  47.545739  ...           0             0             N

[5 rows x 38 columns]